tr.big td {font-weight: bold;}

.gmaps {
    margin: 0;
    padding: 0;
    width: 450px;
    height: 450px;
    border: 1px solid grey;
}

.data {
    padding: 0.5em;
}
.data p {
    font-size: 1.9em;
    margin: 0.3em;
}
.data input {
    font-size: 0.9em;
    width: 7em;
}
.data button {
    background-color: lightgray;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 1em;
    width: 1.3em;
}
.data button:hover {
    background-color: aquamarine;
    border: 1px solid black;
}
label {
    display: inline-block;
    width: 4.5em;
}
.repeat {
    display: inline-block;
    width: 480px;
    height: 620px;
}
